<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <script src='main.js'></script>
</head>

<body>

    <div>
        {{>header}}
        <p>This site was created was created by Pradeep.P and uses mapbox for co-ordinates data </p>
        <img src="/img/thinkAndGrowRich.jpg">
        {{>footer}}
    </div>

</body>

</html>